#define WIFI_SSID           "..."
#define WIFI_PASSWORD       "..."

#define MQTT_HOST           "io.adafruit.com"
#define MQTT_PORT           1883
#define MQTT_USER           "..."
#define MQTT_PASS           "..."
#define MQTT_QOS            2
#define MQTT_RETAIN         0
#define MQTT_TOPIC          "allwize/f/temperature"
#define MQTT_PAYLOAD        "%s"
