#define WIFI_SSID           "..."
#define WIFI_PASSWORD       "..."

#define MQTT_HOST           IPAddress(192,168,1,100)
#define MQTT_PORT           1883
#define MQTT_QOS            2
#define MQTT_RETAIN         0
